<!DOCTYPE html>
<html>
  <head>
    <title> Kolleris | Xlstrans</title>
    <link rel="stylesheet" href="/stylesheets/bootstrap.min.css" />
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div class="container mb-5">
      <div class="col-md-13 col-sm-12 col-lg-8">
        <div
          id="error"
          class="alert alert-danger alert-dismissable"
          style="display: none;"
        ></div>
        <h1 class="title text-center mt-5">Generate Price List</h1>
        <form class="form">
          <div class="form-group">
            <label for="supplier">
              SUPPLIER NAME
            </label>
            <select
              
              name="supplier"
              style="height: 50px;"
              class="form-control"
              id="supplier"
              type="text"
              placeholder="Please Enter The Supplier Name"
              >
              <option >Please select the supplier</option>
              <option name="dremel" value="dremel">dremel</option>
              <option name="bosch value="bosch">bosch</option>
            </select>
          </div>

          <div id="example file" class="my-4">
            <h3>Required File format</h3>
            <p class="card-subtitle">Please upload files with the shown format to get consistent results</p>
            <p class="text-info"> Alway use ".xlsx" files only</p>
             <div id="exampleFiles" class="row mt-3" style="display: none;">
               <div class="col-12 mb-3">
                 <h6>Supplier</h6>
                 <hr class="bg-success">
                 <img id="egSupplier" alt="supplier" src="/images/dremelSupplier.png" style="width: 100%;height: auto;" />
               </div>
               <div class="col-12">
                <h6>Erp</h6>
                <hr class="bg-success">
                <img id="egErp" alt="supplier" src="/images/dremelErp.png" style="width: 100%;height: auto;" />
               </div>
             </div> 
          </div>



          <div class="form-group">
            <label for="supplierFile">
              SUPPLIER XLS File
              <div class="d-flex align-content-between">
                <h4 class="btn btn-success mt-2 text-white">
                  Upload
                </h4>
                <p
                  id="supplierUploadedFile"
                  class="mt-3 ml-4"
                  style="display: none;"
                ></p>
              </div>
            </label>

            <hr class="bg-success" />
            <input name="file" id="supplierFile" class="d-none" type="file" />
          </div>
          <div class="form-group">
            <label for="erpFile">
              ERP XLS FILE
              <div class="d-flex align-content-between">
                <h4 class="btn btn-success mt-2 text-white">
                  Upload
                </h4>
                <p
                  id="erpUploadedFile"
                  class="mt-3 ml-4"
                  style="display: none;"
                ></p>
              </div>
            </label>

            <hr class="bg-success" />
            <input name="file" id="erpFile" class="d-none" type="file" />
          </div>
          <div class="form-group">
            <input
              name="submit"
              id="submit"
              class="btn btn-primary btn-lg btn-block"
              type="submit"
              value="submit"
            />
          </div>
        </form>
        <blockquote class="blockquote border-left border-success pl-3 border-4">
          <strong>NOTE:</strong> If the output file appears to be entirely
          wrong, check if you've uploaded the correct Supplier File and try
          again.
        </blockquote>
        <hr class=" mt-5 bg-primary"/>
        <h3 class="title">History</h3>
        <p class="card-subtitle">Recently generated files</p>
        <hr class="bg-primary"/>
          <table class="table table-hover table-bordered">
            <thead>
              <tr>
                <th >Supplier</th>
                <th >Erp</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td colSpan="2">Please select a supplier at the top to view its history</td>
              </tr>
            </tbody>
          </table>
      </div>
    </div>
  </body>
  <script>
    const supplierFileInput = document.querySelector("#supplierFile");
    const erpFileInput = document.querySelector("#erpFile");
    const supplier = document.querySelector("#supplier");
    const error = document.querySelector("#error");
    const tbody = document.querySelector("tbody");
    const submit = document.querySelector("#submit");
    function loading() {
      if (submit.value == "submit") {
        submit.value = "Processing, Might take a while...";
        submit.disabled = true;
      } else {
        submit.value = "submit";
        submit.disabled = false;
      }
    }
    document.querySelector("form").addEventListener("submit", (e) => {
      e.preventDefault();
      error.style.display = "none";
      const noError =
        supplierFileInput.files[0] &&
        erpFileInput.files[0] &&
        supplier.value.trim().length > 0;
      if (!noError) {
        error.textContent =
          "All fields are required, make sure to fill them  all up.";
        return (error.style.display = "block");
      }
      const headers = new Headers();
      // headers.set("Content-Type", "application/json");
      let data = new FormData();
      let sup = supplierFileInput.files[0];
      let erp = erpFileInput.files[0];
      data.append(`${supplier.value}Supplier`, sup);
      data.append(`${supplier.value}Erp`, erp);
      loading();
      fetch(`/${supplier.value}`, {
        method: "POST",
        body: data,
      })
        .then((res) => {
          if (res.status !== 200) {
            let error = new Error();
            error.message = "Something went wrong!. Try Again";
            throw error;
          }
          const reader = res.body.getReader();
          return new ReadableStream({
            start(controller) {
              return pump();
              function pump() {
                return reader.read().then(({ done, value }) => {
                  // When no more data needs to be consumed, close the stream
                  if (done) {
                    controller.close();
                    return;
                  }
                  // Enqueue the next data chunk into our target stream
                  controller.enqueue(value);
                  return pump();
                });
              }
            },
          });
        })
        .then((stream) => new Response(stream))
        .then((response) => response.blob())
        .then((blob) => {
          loading();
          let url = window.URL.createObjectURL(blob);
          var a = document.createElement("a");
          a.href = url;
          a.download =
            supplier.value + `-${new Date().toLocaleString()}` + ".xlsx";
          document.body.appendChild(a); // we need to append the element to the dom -> otherwise it will not work in firefox
          a.click();
          a.remove(); //afterwards we remove the element again
        })
        .catch((err) => {
          loading();
          console.log(err);
          error.textContent = err.message ? err.message : err.error;
          error.style.display = "block";
        });
    });
    supplierFileInput.addEventListener("change", (e) => {
      let fileDisplay = document.getElementById("supplierUploadedFile");
      // console.log(e.target.files[0]);
      fileDisplay.textContent = e.target.files[0].name;
      fileDisplay.style.display = "block";
      
    });
    erpFileInput.addEventListener("change", (e) => {
      let fileDisplay = document.getElementById("erpUploadedFile");
      // console.log(e.target.files[0]);
      fileDisplay.textContent = e.target.files[0].name;
      fileDisplay.style.display = "block";
    });
supplier.addEventListener('change',e=> {
  showExamples()
  let supplier = e.target.value
  //get supplier history
  fetch(`/history/${supplier}`).then((res) => {
    return res.json()
  }).then( data => {
    tbody.innerHTML = ``
    // console.log(tbody)
    
    data.suppliers.map((sup,index) => {
      let tr = document.createElement('tr')
      let td = document.createElement('td')
      let a = document.createElement('a')
      a.href = `/history/download/${supplier}Supplier/${sup}`
      a.innerText = sup
      td.appendChild(a)
      tr.appendChild(td)
      td = document.createElement('td')
      a = document.createElement('a')

      a.href = `/history/download/${"priceLists-"+supplier}/${data.erps[index]}`
      a.innerText = data.erps[index]
      td.appendChild(a)
      tr.appendChild(td)
     tbody.appendChild(tr) 
     
    })
  })
  .catch((error) => {
    console.log("error",error)
    tbody.innerHTML = `<tr>
      <td colSpan="2">Please select a supplier at top to view its history</td>
      </tr>`

  });
})
  function showExamples(){
    const egContainer = document.querySelector("#exampleFiles")
    const egSupplier= document.querySelector("#egSupplier")
    const egErp= document.querySelector("#egErp")
    egErp.src = `/images/${supplier.value}Erp.png`
    egSupplier.src = `/images/${supplier.value}Supplier.png`
    egContainer.style.display = 'block'
  }



  </script>
</html>
